<div id="navbar">
<% if (locals.nev) { %>
  <span><%= locals.nev %></span>
  <span><a href="/">filmek</a></span>
  <span><a href="inserteles">Inserteles</a></div></span>
  <% } else { %>
    <span><a href="/">All films</a></span>
    <span><a href="inserteles">Upload Film</a></div></span>
  <% } %>
</div>